body {
      background: url('../images/SliferSearch.jpg');
	  min-height: 100%;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center center;
}

.mainPage{
      margin: 260px auto 0 auto ;
}
h1 {
text-transform: uppercase;

color: #fff;
font-size: 50px;
font-family: "Lato";
font-weight: 300;

}

.resultText{
color: #fff;
font-size: 30px;
font-family: "Lato";
font-weight: 300;
text-align: center;
}

.search{
    
color: #fff;
font-size: 50px;
font-family: "Lato";
font-weight: 100;

}
.btn3A {
    display: inline-block;
    font-size: 12px;
    line-height: 23px;
    height:23px;
    text-align: center;
    cursor: pointer;
    border: 0.05em solid #fff;
    border-radius: 0px;
    white-space: nowrap;
    -moz-user-select: none;
    width: 168px;
    font-family: "Lato";
    font-weight: 300;
    text-decoration: none;
}
.btn-transparentA {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-transparentB {
    color: #000;
    background-color: rgba(255,255, 255, 0.7);
    border-color: #fff;
}
.btn-same-sizeA {
    width: 75px;
}
a {
    color: #fff;
    transition: all 0.2s ease-in-out 0s;
    background: none repeat scroll 0px 0px transparent;
}
a:hover {
    text-decoration: none;
    color:black;
    background-color:rgba(255, 255, 255, 0.82);
    }

.form-controle
{
   width: 321px; 
   height: 23px;   
   background-color: transparent;
   border: 0.05em solid #fff;
   border-radius: 0px;
   color: #fff;
   position:center;
   padding: 0 0 0 5px;
}
.form-controle1
{
   width: 321px; 
   height: 23px;   
   background-color: transparent;
   border: 0.05em solid #fff;
   border-radius: 0px;
   color: #fff;
   position:center;
   padding: 0 0 0 5px;
}

